{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />

    <title>Crypto Tokenizer UI Interface & Cryptocurrency Admin Template</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="{% static 'css/vendors_css.css' %}" />

    <!-- Style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/skin_color.css' %}" />
  </head>
  <body class="hold-transition dark-skin sidebar-mini theme-warning fixed">
    <div class="wrapper">
      {% include "navbar.html" %} {% include "sidebar.html" %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Content Header (Page header) -->
          {% block content %} {% endblock %}
          <!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right d-none d-sm-inline-block">
          <ul
            class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end"
          >
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Purchase Now</a>
            </li>
          </ul>
        </div>
        &copy; 2021
        <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>.
        All Rights Reserved.
      </footer>
    </div>

    <!-- Page Content overlay -->

    <!-- Vendor JS -->
    <script src="{% static 'js/vendors.min.js' %}"></script>
    <script src="{% static 'js/pages/chat-popup.js' %}"></script>
    <script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>

    <!-- Crypto Tokenizer Admin App -->
    <script src="{% static 'js/template.js' %}"></script>
  </body>
</html>
